@charset "UTF-8";
#loginbox{
    margin: 0 auto;
	height: 33em;
}

#login{
	padding-top: 100px;
    height: 45rem;
}

#idbox{
	padding: 30px;
}

.chooseBox{
   	color: #808080cf;
    flex-direction: column;
    text-align: center;
    margin: 10px 50px 10px 50px;
    height: 180px;
    border: 1px solid #565656;
    border-radius: 10px;
   	cursor: pointer;
    transition-duration: 0.5s;
}

.selectedBox{
    border-radius: 10px;
    border: 2px solid #007eff96;
    color: #007eff;
    flex-direction: column;
    text-align: center;
    margin: 10px 50px 10px 50px;
    height: 180px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#idbox{
    visibility: hidden;
    flex-direction: column;
    place-content: center;
    max-height: 0;
    transition-duration: 0.8s;
/*     max-height: 600px; */
}
#idboxLogin{
	justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

#kakaoButton{
	align-self: center;
	margin: auto;
	border-radius: 5px;
	width: 27%;
	justify-content: space-around;
	background-color: #fee500;
}

.input-group{
	    width: 70%;
}


#idbox > div > div:nth-child(1),
#idbox > div > div:nth-child(2),
#idbox > div > div:nth-child(3),
#idbox > div > div:nth-child(4),
#idbox > div > div:nth-child(5),
#idbox > div > div:nth-child(6),
#idbox > div > div:nth-child(7){
	    align-items: center;
}
.col-3:after{
   content:"*";
   color:red;
}

.socialLogin{
	place-content: center;
	margin: 46px 0px 10px 0px;
	border-top: 1px solid #8080804d;
}
.socialLoginButton{
	margin-top: 10px;
}