@charset "UTF-8";
body{
 font-family: 'Gothic A1', sans-serif;
}

.bann_box{
   place-self: center;
   padding: 7px;
   color: black;
}

.bannerSub{
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.lgBox{
   color: white;
   border-radius: 7px;
}

a{
    text-decoration: none;
	color: black;
}

p > a{
    text-decoration: none;
	color: #f7f7f7;
}
a:hover{
    text-decoration: none;
    color: black;
}

p > a:hover{
    text-decoration: none;
    color: white;
}

.questionCard{
    box-shadow: 0px 2px 5px 1.5px #a5a5a5;
    border-radius: 5px;
    height: 70%;
}

.card-title{
    padding: 15px 12px 5px 12px;
    border-radius: 6px 6px 1px 1px;
    color: #7b7b7bbd;
    font-size: 16px;
    margin: 0;
}

.profileImage{
    align-items: flex-end;
	height: 85%;
    padding: 13px;
    justify-content: space-between;
}
.questionProfileLogo{
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.questionTitle{
    font-weight: bold;
    align-self: start;
    font-size: 18px;
}

.questionContent{
	text-align: justify;
    font-size: 16px;
    align-self: start;
}

.profileInfo{
	text-align-last: right;
}

.questionHedder{
	border-bottom: 1px solid #41414129;
    font-weight: bold;
    padding: 60px 0px 20px 0;
    margin: auto;
    font-size: 20px;
}

#pointshow{
	color: #808080cc;
    font-size: 13px;
    padding-top: 9px;
}

#pointshow:hover{
	background-color: white;
}


