@charset "UTF-8";

.mainBanner{
   	height: 40px;
   	flex-direction: column;
}

.mainSub{
    height: 100%;
    margin: auto;
    place-content: center;
    align-items: center;
}

.categoriText{
	font-size: 17px;
    margin-top: 15px;
    color: #000000;
}

.categoriText:hover{
    color: #037ec1;
}

.questionBox{
	margin: auto;
    width: 18rem;
    display: flex;
    align-items: center;
    place-content: center;
}

.contentBox{
	max-width: 69rem;
	margin: auto
}

.countries{
	height: 100%;
    width: 100%;
    justify-content: center;
}

.semiBox{
	border-radius: 6px;
    border: 1px solid #80808054;
    padding: 16px;
    align-self: center;
    
}

.seeAll{
    text-align: end;
    place-self: center;
    color: #016eff;
	padding: 12px 30px 7px 0px;
}

.content{
	height: 8rem;
    border-bottom: 1px solid #c1c1c170;
    padding: 4px 5px 5px 20px;
    align-items: center;
}
.contentselect:hover{
    box-shadow: 0px 0px 4px -0.8px #72a8ff;
}

.noBoard{
    font-size: 22px;
    text-align-last: center;
    height: 100%;
    color: #25252569;
    align-self: center;
    margin: auto;
    padding-top: 25%;
}

.noBoardBox{
	box-shadow: 0px 0px 7px 6px white inset;
    background-color: #a1a1a10a;
    width: 75%;	
    height: 30rem;
    justify-content: center;
}

.noBoardimg{
    text-align: end;
    padding-bottom: 60px;
    padding-right: 82px;
    opacity: 0.1;
}

.replyBox{
	font-size: 14px;
	margin-top: 72px;
    position: absolute;
}

.textTitle{
	color: #7a7a7aba;
    height: fit-content;
}

.textmain{
	height: 4rem;
    align-items: center;
}

.heartImogi{
    margin: 3px 3px 8px 5px;
}

.chatImogi{
    margin-bottom: 1px;
}


.replyImogi{
	font-size: 23px;
	margin: 0px 1px 0px 3px;
}

.replyText{
    font-size: 13px;
    padding-right: 13px;
}