@charset "UTF-8";

.imgBox{
    min-height: 42rem;
    height: auto;
}

.detailBox{
	min-height: 53rem;
    height: auto;
}
	
#contact{
	width: 30%;
    height: fit-content;
    transition-duration: 0.5s;
    min-height: 29rem;
    border: 1px solid #cdcdcd;
	padding: 10px 15px 10px 15px;
    border-radius: 5px;
}



.mapBox{
    height: 30rem;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: block;
  height: 32rem;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

imgContent{
	width: 100%;
    height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 56%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 329px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgb(217 217 217 / 80%);
}

/* Container for image text */
.caption-container {
	text-align: center;
    background-color: #011e2cd1;
    padding: 2px 16px;
    color: white;
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

p{
    margin: 0;
    padding: 5px 0px;
}
/* Six columns side by side */
.column {
	padding: 0;
    float: left;
    width: 15.66%;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.contentTitle{
	font-size: 22px;
	font-weight: bold;
}

.contentInfo{
    min-height: 95%;
    height: auto;
    padding-top: 20px;
    align-items: center;
}


.seperator{
    border-bottom: 1px solid #d6d6d6;
}

.prices{
	font-size: 24px;
	margin: 20px 0px 20px 0px;
}

.subinfoBox{
	/* margin-top: 20px; */
	color: #000000bd;
	overflow: hidden;
/* 	max-height: 0;
    visibility: hidden; */
}

.mainInfoBox{
	overflow: hidden;
/* 	max-height: 0; */
/*     visibility: hidden; */
}

#chatBox{
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition-duration: 0.5s;
    border: 1px solid #7d7d7d5e;
    
}

.chatTop{
	height: 2rem;
    border-bottom: 1px solid #a3a3a352;
    background-color: #929597db;
}

#textContent{
    border: none;
    border-top: 1px solid #afafaf;
    resize: none;
    overflow: hidden;
}
#textContent:focus-visible{
    outline: none;
}

.sendButton{
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 0;
    border: none;
    border-top: 1px solid #afafaf;
    background: #4c4b4bcf;
    color: white;
    cursor: grab;
}


.likeButton{
	margin-left: 14px;
	border: 1px solid black;
}
.likeButton:hover{
	border: 1px solid black;
	background-color: white !important;
}

.likedButton{
	margin-left: 14px;
	border: 1px solid black;
}

.likedButton:hover{
	border: 1px solid black;
	background-color: white !important;
}

.values{
	padding-left: 10px;
}

.boldText{
	font-weight: bold;
}

.boardTitle{
    height: auto;
    text-align: start;
    font-size: 21px;
    min-height: 2rem;
}

.bottom-right{
	display: none;
}

#emailLink:hover{
	text-decoration: underline;
	color: #0076ff;	
}

#message:hover{
	text-decoration: underline;
	color: #0076ff;	
}

.picboxs{
	min-height: 6rem;
    justify-content: space-evenly;
    height: auto;
}

#textboard{
    padding: 10px 10px 0px 10px;
    height: 23rem;
    background-color: #a7a7a71a;
	overflow: hidden;
    overflow-y: scroll;
        flex-direction: column-reverse;
}

.chat{
	margin: 10px 0px;
    min-height: 60px;
    font-size: 14px;
    height: auto;
    background-color: white;
    border-radius: 3px;
    align-items: center;
}

.chat_log{
    padding-left: 5px;
    width: 71%;
}

.chatContent{
	font-size: 14px;
	word-break: break-word;
    width: 120%;
    margin-left: 5px;
}

.picBox{
	align-items: center;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
    overflow: hidden;
    max-height: 50px;
    min-height: 50px;
}

.pic{
	margin: 10px 0px;
	margin-right: 10px;
	width: 20%;
	align-self: center;
}

.picsend{
	margin-right: 0px;
	margin-left: 10px;
	width: 20%;
	align-self: center;
}

.chatprofile{
	width: 100%;
    height: 100%;
}

.chatDate{
	font-size: 13px;
    color: #acacac;
    margin-bottom: 18px;
}

.chatDatesend{
	font-size: 13px;
    color: #acacac;
    margin-bottom: 18px;
    place-content: end;
    text-align: end;
    width: 70%;
}

.sendBox{
	place-content: end;
}

#forPopup{
	
}
