@charset "UTF-8";

.regionTitle{
    font-size: 25px;
   	font-weight: bold;
	padding: 60px 0px 50px;
}

.boardBox{
    border-radius: 4px;
    padding: 10px;
    border-bottom: 1px solid #50505040;
    justify-content: space-around;
}

.boardBox:hover .title{
	text-decoration: underline;
}

.imgBox{
    overflow: hidden;
    height: 12rem;
}

.cardImg{
	height: 100%;
    width: 100%;
    display: block;
    border-radius: 9px;
}

.boardTitle{
   	min-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
/*     white-space: nowrap; */
    font-size: 18px;
    flex-wrap: nowrap;
    font-weight: bold;
}

.address{
	font-size: 15px;
    margin-top: 7px;
    font-weight: normal;
}

.infoBox{
    margin-top: 50px;
    color: #0000009c;
}

.seperator{
    margin: 0px 12px 0px;
}

.security{
	color: #1f0756;
    font-weight: bold;
}

.expenses{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.subInfo{
    width: 100%;
    align-items: center;
}

.pageNum{
	place-content: center;
}

.nums{
    padding: 4px 10px;
    border: 1px solid #000000ad;
    margin: 0px 10px 0px;
}

.nums:hover{
    background-color: black;
    color: white;
}

.buttonBox{
    min-height: 212px;
    border-radius: 6px;
    height: 8%;
    width: 95%;
    border: 1px solid black;
}

#postButton{
	margin-top: 25px;
    border: 1px solid #113961;
    background-color: #1352a7e6;
    height: 45px;
    width: 8rem;	
}
#postButton:hover{
    background-color: #033170e6;
}

.rmTitle{
    border-bottom: 1px solid #80808057;
    font-weight: bold;
    margin: 0px 7px;
}