<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.mapper.loginMapper">
	
<!--	<insert id="kakaoLogin" parameterType="map">
		INSERT INTO ${userType} VALUES (Null, #{id}, #{password}, #{nickname}, #{profile_image}, #{email}, #{gender})
	</insert>-->
	<select id="kakaoLogin" resultType="Integer" parameterType="map">
		SELECT count(*) FROM ${userType} WHERE id = #{id}
	</select>
	
	<select id="webLogin" resultType="Integer" parameterType="String">
		SELECT count(*) FROM ${userType} WHERE id = #{id} AND password = #{password}
	</select>
	
	<select id="dubId" resultType="Integer" parameterType="String">
		SELECT count(*) FROM ${userType} WHERE id = #{id}
	</select>
	
	<select id="dubNickname" resultType="Integer" parameterType="String">
		SELECT count(*) FROM ${userType} WHERE nickname = #{nickname}
	</select>

	<insert id="webRegister" parameterType="com.mid.VO.userVO">
		INSERT into ${userType}user VALUES (Null, #{id}, #{password}, #{nickname}, #{profile_image}, #{email}, #{gender})
	</insert> 
	
	<insert id="kakaoRegister" parameterType="com.mid.VO.userVO">
		INSERT into ${userType}user VALUES (Null, #{id}, #{password}, #{nickname}, #{profile_image}, #{email}, #{gender})
	</insert> 
	
	<insert id="GoogleRegister" parameterType="com.mid.VO.userVO">
		INSERT into ${userType}user (num, id, nickname, profile_image, email) VALUES (Null, #{id}, #{nickname}, #{profile_image}, #{email})
	</insert>
	
	<select id="Googlelogin" resultType="Integer" parameterType="com.mid.VO.userVO">
		SELECT count(*) FROM ${userType}user WHERE id = #{id}
	</select>
	
	
	
</mapper>