<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.mapper.mentiMapper">
	
	<insert id="newpost" parameterType="com.mid.VO.userboardVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO mentiBoard (num, mentiNum, country, city, boardTitle, boardContent, boardDate, boardPoint, views) VALUES(Null, #{userNum}, #{country}, #{city}, #{boardTitle}, #{boardContent}, #{boardDate}, #{boardPoint}, 0)
	</insert>
	
	<select id="getuserNum" resultType="String" parameterType="String">
		SELECT num FROM mentiuser WHERE id = #{id}
	</select>
	
	<select id="getuserboardNum" resultType="String" parameterType="String">
		SELECT num FROM mentiBoard WHERE mentiNum = #{num}
	</select>

	<insert id="saveFiles" parameterType="String">
		INSERT INTO mentiBoardattach VALUES (Null, #{num}, #{saveName})
	</insert>
	
	<select id="getBoard" resultType="com.mid.VO.userboardVO" parameterType="String">
		SELECT mb.num, mentiNum, mb.country, mb.city, boardTitle, boardContent, boardDate, boardLike, boardPoint, IFNULL(profile_image, 0) profile_image, mb.selection FROM mentiBoard mb
			LEFT OUTER JOIN mentiuser mu ON mb.mentiNum = mu.num WHERE mb.country = #{countryDBname}
			ORDER BY num DESC LIMIT 4;
	</select>
	
	<insert id="spendPoint" parameterType="map">
		INSERT into ${userType}point (num, mentiNum, mentiboardnum, currentPoint, spendDate, spendAmount) VALUES (Null, #{mentiNum}, #{mentiboardnum}, #{currentPoint}, #{spendDate}, #{spendAmount})
	</insert>
	
	<select id="searchInfo" resultType="com.mid.VO.userboardVO" parameterType="String">
		SELECT * FROM mentiboard WHERE boardTitle LIKE #{search} UNION (SELECT * FROM mentiboard WHERE boardContent LIKE #{search});
	</select>

	<select id="mentiboard" resultType="com.mid.VO.userboardVO" parameterType="String">
		SELECT num, mentiNum as userNum, country, city, boardTitle, boardContent, boardDate, boardLike, boardPoint FROM mentiBoard WHERE num = #{num}
	</select>
	
	<select id="getfiles" resultType="com.mid.VO.userboardfilesVO" parameterType="String">
		SELECT * FROM mentiboardattach where mentiboardnum = #{num}
	</select>
	
	<select id="getmentorNum" resultType="String" parameterType="String">
		SELECT num mentorNum FROM mentoruser where id = #{id}
	</select>
	
	<insert id="saveReply" parameterType="String">
		INSERT INTO mentiboardreply VALUES (Null, #{boardNum}, #{mentiNum}, #{mentorNum}, #{replyContent}, #{today}, Null)
	</insert>
	
	<select id="getboardPoint" resultType="String" parameterType="String">
		SELECT boardPoint mentorNum FROM mentiboard WHERE num = #{boardNum}
	</select>
	
	<insert id="getreputationPoint" parameterType="String">
		INSERT INTO mentorreppoint VALUES (Null, #{mentorNum}, #{mentiNum}, #{boardNum}, #{updatedrepPoint}, #{today})
	</insert>
	
	<select id="replyList" resultType="com.mid.VO.mentiboardReplyVO" parameterType="String">
		SELECT mb.num, boardNum, mentiNum, mentorNum, mentorreplyContent, replyDate, id, password, nickname, profile_image, email, gender, city, country, mb.selection FROM mentiboardreply mb LEFT OUTER JOIN mentoruser mu on mu.num = mb.mentorNum WHERE boardNum = #{num}; 
	</select>
	
	<select id="recentrepPoint" resultType="String" parameterType="String">
		SELECT IFNULL(currentRepPoint,0) FROM mentorreppoint WHERE mentorNum = #{mentorNum} ORDER BY num DESC LIMIT 1;
	</select>
	
	<select id="countReplies" resultType="com.mid.VO.replycountVO" parameterType="String">
		SELECT count(mu.boardNum) countNum, IFNULL(mu.boardNum, 0) boardNum FROM mentiBoard mb 
			LEFT JOIN mentiboardreply mu ON mb.num = mu.boardNum
		    WHERE mu.boardNum = #{boardNum} ORDER BY mb.num DESC;
	</select>
	
	<update id="like" parameterType="String">
		UPDATE mentiboard SET
			boardlike = (SELECT SUM(boardLike)+1 FROM
				(SELECT SUM(boardLike) AS boardLikes FROM mentiboard WHERE num = #{boardNum})tmp);
	</update>
	
	<insert id="saveLikePost" parameterType="String">
		INSERT INTO ${userType}likespost VALUES (null, #{boardNum}, #{id});
	</insert>
	
	<update id="likeRevert" parameterType="String">
		UPDATE mentiboard SET
			boardlike = (SELECT SUM(boardLike)-1 FROM
				(SELECT SUM(boardLike) AS boardLikes FROM mentiboard WHERE num = #{boardNum})tmp);
	</update>
	
	<delete id="saveLikePostRevert" parameterType="String">
		DELETE FROM ${userType}likespost
			WHERE ${userType}LikesBoardnum = #{boardNum} AND ${userType}ID = #{id};
	</delete>
	
	<select id="likecheck" resultType="Integer" parameterType="String">
		SELECT COUNT(num) FROM ${userType}likespost
			WHERE ${userType}LikesBoardnum = #{boardNum} AND ${userType}ID = #{id};
	</select>
	
	<select id="countLikesList" resultType="com.mid.VO.replycountVO">
	SELECT boardNum, COUNT(boardNum) countNum FROM(
		(SELECT mentiLikesBoardnum boardNum FROM mentilikespost) UNION ALL
	    (SELECT mentorLikesBoardnum boardNum FROM mentorlikespost))m
	    GROUP BY boardNum;
	</select>
	
	<select id="seeAllList" resultType="com.mid.VO.userboardVO" parameterType="String">
		SELECT * FROM mentiboard WHERE country = #{country} ORDER BY num DESC
	</select>
	
	<select id="seeAllListFiltered" resultType="com.mid.VO.userboardVO" parameterType="String">
		SELECT * FROM mentiboard WHERE country = #{country} ORDER BY ${type} DESC
	</select>
	
	<select id="recentrepPointbyNum" resultType="Integer" parameterType="String">
		SELECT IFNULL(currentRepPoint,0) FROM mentorreppoint WHERE mentorNum = #{mentorNum} ORDER BY num DESC LIMIT 1
	</select>
	
	<select id="mentiuser" resultType="com.mid.VO.userVO" parameterType="String">
		SELECT * FROM mentiuser WHERE num = #{userNum};
	</select>
	
	<select id="getboardReply" resultType="com.mid.VO.mentiboardReplyVO" parameterType="String">
		SELECT * FROM mentiboardreply mr LEFT OUTER JOIN mentiboard mb ON mb.num = mr.boardNum WHERE mr.num = #{replyNum};
	</select>
	
	<select id="recentcurPoint" resultType="String" parameterType="String">
		SELECT IFNULL(currentPoint,0) FROM mentorpoint WHERE mentorNum = #{mentorNum} ORDER BY num DESC LIMIT 1;
	</select>
	
	<insert id="accruedPoint" parameterType="String">
		INSERT INTO mentorpoint (num, mentorNum, mentiboardnum, currentPoint, earnDate, earnAmount) 
			VALUES(Null, #{mentorNum}, #{boardNum}, #{adjustedPoint}, #{today}, #{point})
	</insert>
	
	<insert id="selection" parameterType="String">
		UPDATE mentiboardreply SET selection = 1 WHERE num = #{replyNum};
	</insert>
	
	<select id="selectedReply" resultType="Integer" parameterType="String">
		SELECT IFNULL(num,0) FROM mentiboardreply WHERE boardNum = #{boardNum} AND selection = 1;
	</select>
	
	<insert id="selectionBoard" parameterType="String">
		UPDATE mentiboard SET selection = 1 WHERE num = #{boardNum};
	</insert>
	
	<select id="selectedBoardList" resultType="com.mid.VO.userboardVO">
		SELECT num, selection FROM mentiboard	
	</select>
	
	<update id="viewIncrease" parameterType="String">
		UPDATE mentiboard SET views = views+1 WHERE num = #{boardNum}
	</update>

	<select id="view" resultType="Integer" parameterType="String">
		SELECT IFNULL(views,0) FROM mentiboard WHERE num = #{boardNum}	
	</select>










	
	
</mapper>



