<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.mapper.roommateMapper">
	<select id="selectedCountry" resultType="String" parameterType="String">
		SELECT Name FROM city WHERE CountryCode = (SELECT Code FROM country WHERE Name = #{selectedCountry});
	</select>

	<select id="getRoommateList" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard WHERE country = #{selectedCountry} AND city = #{cityName}
	</select>
	
	<select id="roommateInfo" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard WHERE num = #{num}
	</select>
	
	<select id="files" resultType="String" parameterType="String">
		SELECT files FROM roommateattach WHERE roommateNum = #{num}
	</select>
    
	<select id="getCoordinates" resultType="com.mid.VO.cityCoordinatesVO" parameterType="String">
		SELECT lng, lat FROM citiescoordiates WHERE city = #{cityName}
	</select>
	
	<insert id="like" parameterType="String">
		INSERT INTO roommatelikes VALUES(Null, #{num}, #{boardNum})
	</insert>

	<select id="likeCheck" resultType="int" parameterType="String">
		SELECT count(*) FROM roommatelikes WHERE userNum = #{userNum}
	</select>
	
	<delete id="likerevert" parameterType="String">
		DELETE FROM roommatelikes WHERE userNum = #{num} AND roommatlikeseNum = #{boardNum}
	</delete>
	
	<update id="viewIncrease">
		UPDATE roommateboard SET view = view+1 WHERE num = #{num}
	</update>

	<select id="getRoommateListSearch" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard
			WHERE city = #{cityName} AND country = #{selectedCountry} AND
				(boardTitle LIKE #{search} OR boardContent LIKE #{search})
	</select>









	
</mapper>



