<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mid.mapper.roommateMapper">
	<select id="selectedCountry" resultType="String" parameterType="String">
		SELECT Name FROM city WHERE CountryCode = (SELECT Code FROM country WHERE Name = #{selectedCountry});
	</select>

	<select id="getRoommateList" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard WHERE country = #{selectedCountry} AND city = #{cityName} ORDER BY num DESC
	</select>
	
	<select id="roommateInfo" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard WHERE num = #{num}
	</select>
	
	<select id="files" resultType="String" parameterType="String">
		SELECT files FROM roommateattach WHERE roommateNum = #{num}
	</select>
    
	<select id="getCoordinates" resultType="com.mid.VO.cityCoordinatesVO" parameterType="String">
		SELECT lng, lat FROM citiescoordiates WHERE city = #{cityName}
	</select>
	
	<insert id="like" parameterType="String">
		INSERT INTO roommatelikes VALUES(Null, #{userType}, #{num}, #{boardNum})
	</insert>

	<select id="likeCheck" resultType="int" parameterType="String">
		SELECT count(*) FROM roommatelikes WHERE roommatlikeseNum = #{num} AND userNum = #{userNum} AND userType = #{userType}
	</select>
	
	<delete id="likerevert" parameterType="String">
		DELETE FROM roommatelikes WHERE userNum = #{num} AND roommatlikeseNum = #{boardNum} AND userType = #{userType}
	</delete>
	
	<update id="viewIncrease">
		UPDATE roommateboard SET view = view+1 WHERE num = #{num}
	</update>

	<select id="getRoommateListSearch" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT * FROM roommateboard
			WHERE city = #{cityName} AND country = #{selectedCountry} AND
				(boardTitle LIKE #{search} OR boardContent LIKE #{search})
	</select>
	
	<select id="getCurrency" resultType="String" parameterType="String">
		SELECT Symbol FROM currency WHERE Country = #{selectedCountry}
	</select>

	<insert id="savePost" parameterType="com.mid.VO.roommateVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO roommateboard VALUES (Null, #{userNum}, #{userType}, #{country}, #{city}, #{boardTitle}, #{boardContent}, #{thumbPic}, #{expense}, #{address}, #{phone}, #{email}, #{beds}, #{bath}, #{securityDeposit}, #{postDate}, 0, #{gender}, #{condition}, 0)
	</insert>
	
	<insert id="saveFiles" parameterType="String">
		INSERT INTO roommateattach VALUES(Null, #{ainum}, #{savefilesName})
	</insert>
	
	<select id="getsavePost" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT thumbPic, boardTitle, rd.num FROM roommateboard rd join roommatelikes rs on roommatlikeseNum = rd.num WHERE rs.userNum = #{userNum} AND rs.userType = #{userType};
	</select>
	
	<select id="getUserInfo" resultType="com.mid.VO.roommateVO" parameterType="String">
		SELECT userNum, userType FROM roommateboard WHERE num = #{boardNum}
	</select>

	<insert id="chatSave" parameterType="map">
		INSERT INTO roommatechat 
			VALUES(Null, #{roommateBoardNum}, #{textContent}, #{sendUserType}, #{sendUserNum}, #{receiveUserType}, #{receiveUserNum}, #{textDate})
	</insert>
	
	<select id="chathistory" resultType="com.mid.VO.roommateChatVO" parameterType="String">
		SELECT * FROM roommatechat WHERE sendUserType = #{userType} AND sendUserNum = #{userNum} AND receiveUserType = #{receiveuserType} AND receiveuserNum = #{receiveuserNum}
			UNION
			SELECT * FROM roommatechat WHERE sendUserType = #{receiveuserType} AND sendUserNum = #{receiveuserNum} AND receiveUserType = #{userType} AND receiveuserNum = #{userNum}
			ORDER BY textDate;
	</select>

	<select id="getprofilePic" resultType="String" parameterType="String">
		SELECT profile_image FROM ${userType}user WHERE num = #{userNum} 
	</select>

	<select id="chatList" resultType="com.mid.VO.roommateChatVO" parameterType="String">
		SELECT * FROM roommatechat WHERE receiveuserNum = #{num} AND receiveUserType = #{userType} GROUP BY sendUserNum ORDER BY textDate DESC
	</select>









	
</mapper>



